*{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
#heading{
    font-family: "Libre Baskerville",cursive;
    
}
#para{
    font-size: larger;
    margin: 0%;
    border: 10px;
    padding: 5px;
    color: rgb(131, 97, 97);
    
    

}